<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Investimentos</title>
</head>
<header class="bg-dark text-white p-3">
    <nav>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link text-white" href="#">Início</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Sobre</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Contato</a></li>
        </ul>
    </nav>
</header>
<main class="container mt-4">
    <h1 class="text-center">Ações de Investimentos</h1>
    <div class="table-responsive">
        <table class="table custom-table table-striped mt-3">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome da empresa</th>
                    <th>Setor</th>
                    <th>Tipo</th>
                    <th>Cotação</th>
                    <th>Div yield</th>
                    <th>PL</th>
                    <th>Patrimonio Liquido</th>
                    <th>Valor de Mercado</th>
                    <th>Data ultima cotação</th>

                    <th>Receita Liq 12m</th>
                    <th>Divida Liq</th>
                    <th>Valor Mercado</th>
                    <th>Lucro Liq</th>
                    <th>Patrim liq</th>
                    <th>Min 52 sem</th>
                    <th>Max 52 sem</th>
                    <th>Ebit 12m</th>
                    <th>Data ultima cot</th>
                </tr>
            </thead>
            <tbody id="stocks-list"></tbody>
        </table>
    </div>
</main>
<script src="script.js"></script>
</body>
</html>
