<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Investimentos</title>
</head>
<header class="bg-dark text-white p-3">
    <nav>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link text-white" href="#">Início</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Sobre</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#">Contato</a></li>
        </ul>
    </nav>
</header>
<main class="container mt-4">
    <h1 class="text-center">Ações de Investimentos</h1>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Nome da Ação</th>
                <th>Preço</th>
                <th>Setor</th>
            </tr>
        </thead>
        <tbody id="stocks-list"></tbody>
    </table>
</main>
<script src="script.js"></script>
</body>
</html>
