Flask                  # Framework para o backend (ou FastAPI, se preferir)
fundamentus                   # Biblioteca para acessar dados financeiros
mvc_flask
flask-cors
pandas                # Manipulação de dados financeiros
numpy            # Cálculos numéricos e financeiros
psycopg2-binary # Driver PostgreSQL para Python
yfinance
google.generativeai 